body{
    margin: auto;
  }
    .containerc{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        background-color: #f4f4f4;
    
        
    }

    form{
        display: flex;
        flex-direction: column;
        align-content: space-between;
       padding:2%;
       background-color:white;
      opacity: 0.95;
        width: 25%;
        box-shadow: 5px 10px 8px #888888;
        height:500px;
        border-radius: 20px;

       
    }  .signForm{
      background-color: 
      #346057;
      color:white ;
      border-radius: 50px;
      height: 50px;
     }
   form input{
  
        height: 40px;
  
    }

    .forget{
      font-size: smaller; 
        color: rgb(151, 150, 150);
        margin-left:17%;
     
    } 